<p class="text-center"><img class="img-thumbnail" src="assets/img/burger.png"></p>
<h1 class="text-center">Eat Da Burger</h1>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-4 col-md-offset-1">
      <h2 class="alert alert-secondary text-center">Let's Try These Burgers!</h2>
      <div class="card">
        <div class="card-body">
          {{#each burgers}}
            {{#unless devoured}}
              {{> burgers/burger-block devoured=true}}
            {{/unless}}
          {{/each}}
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 col-md-offset-1">
      <h2 class="alert alert-secondary text-center">Burgers Devoured!</h2>
      <div class="card">
        <div class="card-body">
          {{#each burgers}}
            {{#if devoured}}
              {{> burgers/burger-block devoured=false}}
            {{/if}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-md-offset-3">
      <h2 class="text-center">Add a Burger</h2>
      <form>
        <div class="form-group">
          <textarea id="burger-choice" class="form-control" rows="5"></textarea>
        </div>
        <button type="submit" class="btn btn-primary btn-submit center-block">Submit</button>
        <p class="text-center">Enter a burger you want to eat and Click the "Submit" button.</p>
      </form>
    </div>
  </div>
</div>
